<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Consulta de notas fiscais recebidas</h3>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <label for="numeroNota">Número:</label>
                                <input type="text" class="form-control" id="numeroNota"
                                    (keyup)="filtrarPorNumero($event.target.value)" />
                            </div>
                            <div class="form-group">
                                <label for="serieNota">Série:</label>
                                <input type="text" class="form-control" id="serieNota"
                                    (keyup)="filtrarPorSerie($event.target.value)" />
                            </div>
                            <div class="form-group">
                                <label for="dataRecebimento">Data de Recebimento:</label>
                                <input type="text" class="form-control" id="dataRecebimento"
                                    (keyup)="filtrarPorDataRecebimento($event.target.value)" />
                            </div>
                            <div class="form-group">
                                <label for="material">Material:</label>
                                <input type="text" class="form-control" id="material"
                                    (keyup)="filtrarPorMaterial($event.target.value)" />
                            </div>
                            <div class="form-group">
                                <label for="fornecedor">Fornecedor:</label>
                                <input type="text" class="form-control" id="fornecedor"
                                    (keyup)="filtrarPorFornecedor($event.target.value)" />
                            </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <div>
                                    <table mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="numero">
                                            <th mat-header-cell *matHeaderCellDef>Número</th>
                                            <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="serie">
                                            <th mat-header-cell *matHeaderCellDef>Série</th>
                                            <td mat-cell *matCellDef="let element">{{ element.serie }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="dataRecebimento">
                                            <th mat-header-cell *matHeaderCellDef>Data de recebimento</th>
                                            <td mat-cell *matCellDef="let element">{{ element.dataRecebimento }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="material">
                                            <th mat-header-cell *matHeaderCellDef>Material</th>
                                            <td mat-cell *matCellDef="let element">{{ element.item.nome }}
                                                ({{ element.item.codigo }})</td>
                                        </ng-container>

                                        <ng-container matColumnDef="fornecedor">
                                            <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
                                            <td mat-cell *matCellDef="let element">{{ element.fornecedor.nome }}
                                                ({{ element.fornecedor.cpfCnpj }})</td>
                                        </ng-container>

                                        <ng-container matColumnDef="quantidade">
                                            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                                            <td mat-cell *matCellDef="let element">{{ element.item.quantidade }}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>