<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Consulta de notas fiscais recebidas</h3>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <input class="w-100" type="text" (keyup)="filtrarPorNumero($event.target.value)"
                                            placeholder="Número">
                                    </div>

                                    <div class="col">
                                        <input class="w-100" type="text" (keyup)="filtrarPorSerie($event.target.value)"
                                            placeholder="Série">
                                    </div>

                                    <div class="col">
                                        <input class="w-100" type="text"
                                            (keyup)="filtrarPorDataRecebimento($event.target.value)"
                                            placeholder="Data de recebimento">
                                    </div>

                                    <div class="col">
                                        <input class="w-100" type="text"
                                            (keyup)="filtrarPorMaterial($event.target.value)" placeholder="Material">
                                    </div>

                                    <div class="col">
                                        <input class="w-100" type="text"
                                            (keyup)="filtrarPorFornecedor($event.target.value)"
                                            placeholder="Fornecedor">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">

                                <div>
                                    <table mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="numero">
                                            <th mat-header-cell *matHeaderCellDef>Número</th>
                                            <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="serie">
                                            <th mat-header-cell *matHeaderCellDef>Série</th>
                                            <td mat-cell *matCellDef="let element">{{ element.serie }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="fornecedor">
                                            <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
                                            <td mat-cell *matCellDef="let element">{{ element.fornecedor.nome }}
                                                ({{ element.fornecedor.cpfCnpj }})</td>
                                        </ng-container>

                                        <ng-container matColumnDef="dataRecebimento">
                                            <th mat-header-cell *matHeaderCellDef>Data de recebimento</th>
                                            <td mat-cell *matCellDef="let element">{{ element.dataRecebimento }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="material">
                                            <th mat-header-cell *matHeaderCellDef>Material</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.nome }}
                                                ({{ element.material.codigo }})</td>
                                        </ng-container>

                                        <ng-container matColumnDef="quantidade">
                                            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.quantidade }}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

</div>