<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Consulta de Movimentações</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <label for="nomeMaterial">Nome do Material:</label>
                                <input type="text" class="form-control" id="nomeMaterial" (keyup)="filtrarPorMaterial($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="localOrigem">Local de Origem:</label>
                                <input type="text" class="form-control" id="localOrigem" (keyup)="filtrarPorLocalOrigem($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="localDestino">Local de Destino:</label>
                                <input type="text" class="form-control" id="localDestino" (keyup)="filtrarPorLocalDestino($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="dataMovimentacao">Data da Movimentação:</label>
                                <input type="text" class="form-control" id="dataMovimentacao" (keyup)="filtrarPorDataMovimentacao($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="quantidade">Quantidade do Material:</label>
                                <input type="text" class="form-control" id="quantidade" (keyup)="filtrarPorQuantidade($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="atendente">Atendente:</label>
                                <input type="text" class="form-control" id="atendente" (keyup)="filtrarPorUsuario($event.target.value)"/>
                            </div>
                            
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <div>
                                    <table mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="dataMovimentacao">
                                            <th mat-header-cell *matHeaderCellDef>Data da Movimentação</th>
                                            <td mat-cell *matCellDef="let element">{{ formatarData(element.dataMovimentacao) }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="localOrigem">
                                            <th mat-header-cell *matHeaderCellDef>Local de Origem</th>
                                            <td mat-cell *matCellDef="let element">{{ element.localOrigem.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="localDestino">
                                            <th mat-header-cell *matHeaderCellDef>Local de Destino</th>
                                            <td mat-cell *matCellDef="let element">{{ element.localDestino.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="material">
                                            <th mat-header-cell *matHeaderCellDef>Material</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="quantidade">
                                            <th mat-header-cell *matHeaderCellDef>Quantidade do Material</th>
                                            <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="usuario">
                                            <th mat-header-cell *matHeaderCellDef>Atendente</th>
                                            <td mat-cell *matCellDef="let element">{{ element.usuarioMovimentacao.nome }}</td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>

</div>