<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Saldo de Estoque</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <label for="codigoMaterial">Código do Material:</label>
                                <input type="text" class="form-control" id="codigoMaterial" (keyup)="filtrarPorCodigo($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="nomeMaterial">Nome do Material:</label>
                                <input type="text" class="form-control" id="nomeMaterial" (keyup)="filtrarPorNome($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="quantidadeMaterial">Quantidade do Material:</label>
                                <input type="text" class="form-control" id="quantidadeMaterial" (keyup)="filtrarPorQuantidade($event.target.value)"/>
                            </div>
                        </form>
                    </div>


                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <div>
                                    <table mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="codigo">
                                            <th mat-header-cell *matHeaderCellDef>Código</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.id }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="nome">
                                            <th mat-header-cell *matHeaderCellDef>Nome</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="marca">
                                            <th mat-header-cell *matHeaderCellDef>Marca</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.modelo.marca.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="modelo">
                                            <th mat-header-cell *matHeaderCellDef>Modelo</th>
                                            <td mat-cell *matCellDef="let element">{{ element.material.modelo.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="local">
                                            <th mat-header-cell *matHeaderCellDef>Local de Estoque</th>
                                            <td mat-cell *matCellDef="let element">{{ element.localEstoque.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="quantidade">
                                            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
                                            <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
                                        </ng-container>
            
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

</div>