.menu {
    height: calc(100% - 80px);
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.active {
    background-color: rgba(0, 0, 150, 0.15);
}

.menu-item a {
    align-items: center;
    color: #333;
    display: flex;
    font-size: 11pt;
    height: 30px;
    justify-content: flex-start;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

.menu-item a:hover {
    background-color: rgba(30, 30, 30, 0.15);
    cursor: pointer;
}

.menu-item a i-feather {
    zoom: 0.7;
}

.brand-container {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 100%;
}

.sidebar-header {
    align-items: flex-end;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.menu-grupo {
    margin-bottom: 20px;
}

#sidebar {
    cursor: default;
}