<nav id="sidebar" class="sidebar bg-light show">

    <div class="brand-container">
        <span>PiAlmoxarifado</span>
    </div>

    <ul class="menu">
        <div class="menu-grupo" id="menu-geral">
            <li class="sidebar-header">
                <span class="small">Geral</span>
            </li>
            <li class="menu-item">
                <a href="index" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Página inicial</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-estoque">
            <li class="sidebar-header">
                <span class="small">Estoque</span>
            </li>
            <li class="menu-item">
                <a href="saldo" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Saldo de estoque</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-recebimento">
            <li class="sidebar-header">
                <span class="small">Recebimento</span>
            </li>
            <li class="menu-item">
                <a href="recebimento" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Recebimento de materiais</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="consulta-recebimento" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Consulta de notas fiscais recebidas</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-movimentacao">
            <li class="sidebar-header">
                <span class="small">Movimentação</span>
            </li>
            <li class="menu-item">
                <a href="movimentacao" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Movimentação de saldo</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="consulta-movimentacao" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Consulta de movimentações</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-requisicao">
            <li class="sidebar-header">
                <span class="small">Requisições</span>
            </li>
            <li class="menu-item">
                <a href="atendimento" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Atendimento de requisições</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="criar-requisicao" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Criar requisição</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="requisicao" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Consulta de requisições</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-inventario">
            <li class="sidebar-header">
                <span class="small">Inventários</span>
            </li>
            <li class="menu-item">
                <a href="acompanhamento-inventario" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Acompanhamento de inventários</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="inventario" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Criar inventário</span>
                </a>
            </li>
        </div>

        <div class="menu-grupo" id="menu-cadastro">
            <li class="sidebar-header">
                <span class="small">Cadastros</span>
            </li>
            <li class="menu-item">
                <a href="material" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Material</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="marca" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Marca</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="modelo" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Modelo</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="fornecedor" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Fornecedor</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="local-estoque" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Local de estoque</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="usuario" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Usuário</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="menu" class="sidebar-link">
                    <i-feather class="align-middle mr-3" name="user"></i-feather>
                    <span>Menu</span>
                </a>
            </li>
        </div>
    </ul>

</nav>
