<div class="wrapper">

    <app-sidebar></app-sidebar>

    <main class="main">
        <app-navbar></app-navbar>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Criar inventário</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </main>

</div>