<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Criar inventário</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <form [formGroup]="inventarioForm" (ngSubmit)="CriarInventario()">
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="selectMaterial">* Descrição:</label>
                                        <input type="text" class="form-control" id="txtQuantidade" formControlName="descricao"/>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="txtQuantidade">* Data Início:</label>
                                        <input type="datetime" class="form-control" id="txtQuantidade" formControlName="dataInicio"/>
                                    </div>
                                </div>
                            </div>

                            <form [formGroup]="inventarioForm"  (ngSubmit)="CriarInventario()">
                                <div class="row">
                                    <div class="col text-right">
                                        <button type="submit" class="ml-3 btn btn-success">Criar inventário</button>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>

            </div>
        </main>

    </div>

</div>