<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main">
        <app-navbar></app-navbar>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3>Cadastro de usuários</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#cadastroDeUsuario" (click)="carregarDados()">
                                    Novo usuário
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <form>
                            <div class="form-group">
                                <label for="filtroCodigo">Código:</label>
                                <input type="text" class="form-control" id="filtroCodigo" (keyup)="filtrarPorCodigo($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="filtroNome">Nome:</label>
                                <input type="text" class="form-control" id="filtroNome" (keyup)="filtrarPorNome($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="filtroCpfCnpj">CPF/CNPJ:</label>
                                <input type="text" class="form-control" id="filtroCpfCnpj" (keyup)="filtrarPorCpfCnpj($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="filtroEmail">Email:</label>
                                <input type="text" class="form-control" id="filtroEmail" (keyup)="filtrarPorEmail($event.target.value)"/>
                            </div>
                            <div class="form-group">
                                <label for="filtroPerfil">Perfil:</label>
                                <input type="text" class="form-control" id="filtroPerfil" (keyup)="filtrarPorPerfil($event.target.value)"/>
                            </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <div>
                                    <table mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="codigo">
                                            <th mat-header-cell *matHeaderCellDef>Código</th>
                                            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="nome">
                                            <th mat-header-cell *matHeaderCellDef>Nome</th>
                                            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="cpfCnpj">
                                            <th mat-header-cell *matHeaderCellDef>CPF/CNPJ</th>
                                            <td mat-cell *matCellDef="let element">{{ element.cpfCnpj }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="email">
                                            <th mat-header-cell *matHeaderCellDef>E-mail</th>
                                            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="perfil">
                                            <th mat-header-cell *matHeaderCellDef>Perfil</th>
                                            <td mat-cell *matCellDef="let element">{{ element.perfil.descricao }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="alterar">
                                            <th mat-header-cell *matHeaderCellDef>Alterar</th>
                                            <td mat-cell *matCellDef="let element">
                                                <i-feather class="align-middle" name="edit-2" (click)="alterar(element)"
                                                    data-toggle="modal" data-target="#cadastroDeUsuario"></i-feather>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="remover">
                                            <th mat-header-cell *matHeaderCellDef>Remover</th>
                                            <td mat-cell *matCellDef="let element">
                                                <i-feather class="align-middle" name="trash"
                                                    (click)="desativar(element.id)"></i-feather>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="cadastroDeUsuario" tabindex="-1" role="dialog"
                    aria-labelledby="modalCadastroDeUsuario" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCadastroDeUsuario">Cadastrar novo modelo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    id="fecharModal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form [formGroup]="cadastroUsuarioForm" (ngSubmit)="cadastrarOuAlterar()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nomeUsuario">* Nome:</label>
                                        <input type="text" class="form-control" id="nomeUsuario" formControlName="nome" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="cpfCnpjUsuario">* CPF/CNPJ:</label>
                                        <input type="text" class="form-control" id="cpfCnpjUsuario" formControlName="cpfCnpj" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="emailUsuario">* Email:</label>
                                        <input type="email" class="form-control" id="emailUsuario" formControlName="email" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="senhaUsuario">* Senha:</label>
                                        <input type="password" class="form-control" id="senhaUsuario" formControlName="senha" required />
                                    </div>

                                    <div class="form-group" formGroupName="perfil">
                                        <label for="perfilUsuario">* Perfil de acesso:</label>
                                        <select class="form-control" id="perfilUsuario" formControlName="id" required>
                                            <option selected></option>
                                            <option *ngFor="let perfil of perfisAcesso" value="{{ perfil.id }}">{{ perfil.descricao }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal"
                                        (click)="this.resetForm()">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>

</div>